# Node
node_modules/

# Vite build
dist/

# Ambiente
.env
.env.local
.env.*.local

# Sistema
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac/Linux/Windows swap/lock
*.swp
*.lock
